DISCORD_SECRET='token'
DISCORD_CLIENT_SECRET='secret'
DISCORD_CLIENT_ID='clientid'

DB_HOST='mariadb'
DB_USER='root'
DB_PASSWORD='rootpwd'
DB_NAME='local'
DB_PORT='3306'

TWITCH_CLIENT_ID=''
TWITCH_CLIENT_SECRET=''
TWITCH_POLL_CRON='*/5 * * * *'

ALLOWED_ADDER_IDS='142723132531277824'